.header 
  .header_logo
    = link_to 'Gather', root_path
  .header_mypage
    - if user_signed_in?
      = link_to 'ログアウト', destroy_user_session_path, method: :delete
    - else
      = link_to '新規登録', 
        new_user_registration_path
      = link_to 'ログイン', user_session_path
