$menu-black: rgba(0,0,0,0.8);
$light_gray: rgba(128, 128, 128, 0.3);
$shadow: rgba(112, 74, 24, 0.7) 0 3px 10px;
$menu-border: solid 1px cyan;

/* 赤系 */
$red: #cc0000;
$pink: #ffcccc;

/* 茶色 */
$chocolate: #d2691e;