$shadow: rgba(112, 74, 24, 0.7) 0 2px 2px;
$menu-border: solid 1px cyan;

/* 白黒系 */
$translucent-black: #333333;
$dark_gray: #696969;
$light_gray: #d3d3d3;
$very_light_gray: #f5f5f5;

/* 赤系 */
$red: #cc0000;
$pink: #ffcccc;

/* 茶色 */
$chocolate: #d2691e;