.actions_btn {
  display: block;
  font-size: 18px;
  height: 30px;
  width: 150px;
  line-height: 30px;
  letter-spacing: 1px;
  background-color: rgb(210, 105, 30);
  color: white;
  border: none;
  border-radius: 3px;
  margin: 0 auto 20px;
  box-shadow :rgb(179, 90, 26) 0 2px 2px;;
}