.header {
  background-color: rgb(253,208,0);
  border-bottom: ridge 1px rgba(102, 83, 0, 0.8);
  // box-shadow: $shadow;
  height: 40px;
  width: 100%;
  position: fixed;
  display: flex;
  z-index: 1;
  &_logo {
    height: 40px;
    width: 80px;
    font-size: 20px;
    font-weight: bold;
    line-height: 40px;
    margin: 0 auto;
    text-align: center;
  }
  &_mypage {
    height: 40px;
    align-items: center;
    display: flex;
    position: absolute;
    right: 5px;
    a {
      background-color: chocolate;
      border-radius: 3px;
      line-height: 30px;
      font-size: 0.8em;
      padding: 0 15px;
      margin-right: 5px;
      color: white;
    }
  }
}