.header {
  height: 40px;
  width: 100%;
  background-color: rgba(253,208,0,0.9);
  box-shadow: rgba(112, 74, 24, 0.7) 0 3px 15px;
  position: fixed;
  z-index: 1;
  &_menu {
    width: 100%;
    .header_list {
      display: flex;
      &_logo {
        height: 40px;
        align-items: center;
        margin: 0 auto;
        line-height: 40px;
        font-size: 18px;
      }
    }
  }
}