.login-btn {
  font-size: 18px;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 150px;
  letter-spacing: 1px;
  background-color: chocolate;
  color: white;
  border: none;
  border-radius: 3px;
  line-height: 30px;
}