.side-bar {
  color: white;
  a {
    color: white;
  }
  background-color: $menu-black;
  box-shadow: $shadow;
  height: calc(100% - 40px);
  width: 300px;
  margin-top: 40px;
  position: fixed;
  .mypage-bar {
    height: 80px;
    padding: 10px 15px;
    border-bottom: solid 1px cyan;
    display: flex;
    &_left {
      width: 60px;
      .user_image {
        border: solid 1px grey;
        height: 100%;
        width: 100%;
      }
    }
    &_right {
      width: 200px;
      &_name {
        margin-left: 15px;
        font-size: 20px;
        height: 30px;
        line-height: 30px;

        
      }
      &_btn {
        position: relative;
        height: 30px;
        width: 100%;
        .new-post-btn {
          position: absolute;
          right: 0em;
          border-radius: 10px;
          font-size:20px;
          text-decoration: none;
          text-align: center;
        }
      }
    }
  }
  .search-container {
    height: calc(100% - 70px);
    width: 100%;
    padding: 15px;
  }
}