.btn:hover {
  opacity: 0.9;
} 
.btn:active {
  position: relative;
  top: 1px;
  box-shadow: none;
}
.action-btn {
  background-color: chocolate;
  box-shadow :rgb(95, 158, 160) 0 1px 0px;
  color: white;
  height: 30px;
  width: 150px;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 0.1em;
  border: none;
  border-radius: 3px;
  display: block;
  cursor: pointer;
}
.link-btn, .mini_link-btn {
  background-color: cadetblue;
  box-shadow :rgb(179, 90, 26) 0 1px 0px;
  color: white;
  border-radius: 3px;
}
.link-btn {
  padding: 3px 7px;
}
.mini_link-btn {
  padding: 5px;
  font-size: 0.9em;
}
.submit-btn {
  background-color: rgb(210, 105, 30);
  font-size: 0.8em;
  color: white;
  border-radius: 3px;
}
.img-btn {
  color: darkolivegreen;
  font-size: 30px;
  display: block;
}
.delete-btn {
  background-color: cadetblue;
  text-align: center;
}
.user_link {
  padding: 2px 3px;
  background-color: $very_light_gray;
  border: solid 1px $light_gray;
}
