.form-wrapper {
  max-width: 450px;
  letter-spacing: 0.06em;
  margin: 0 auto;
  padding: 80px 0;
  .form-area {
    margin-bottom: 50px;
    div.field_with_errors {
      display: inline;
      padding: 0;

      input, textarea, select, .f_select { border: solid $red 1px; }
    }
    .error-message {
      font-size: 0.8em;
      color: $red;
      margin-top: 2px;
    }
    &_label {
      line-height: 26px;
      font-size: 0.9em;
      margin: 0 0 3px 3px;
      display: flex;
      align-items: center;
      &_info {
        background-color: red;
        color: white;
        height: 16px;
        line-height: 16px;
        font-size: 0.8em;
        padding: 0 2px;
        margin-left: 5px;
        border-radius: 3px;
      }
    }
    &_input {
      width: 100%;
      padding: 0 5px;
    }
    .f_field,.f_select {
      height: 30px;
    }
    .f_area {
      height: 150px;
      padding: 4px 5px;
    }
    .f_select {
      width: 40%;
    }
    &_time {
      width: 100%;
      display: flex;
      &_half {
        width: 50%;
        &_input {
          height: 26px;
          width: 25%;
        }
      }
    }
  }
  .btn-area {
    text-align: center;
  }
  .image-area {
    margin-bottom: 30px;
    img {
      border: solid 1px $light_gray;
      border-radius: 2px;  
      width: 100%;
      background-color: white;
    }
    .rm-btn {
      i {
        float: right;
        margin-top: 3px;
        color: $red;
        // background-color: white;
        font-size: 15px;
      }
    }
    .img-btn {
      width: 30px;
    }
  }
}
