.list-area {
  margin: 0 auto;
  // max-width: 850px;
  .list {
    background-color: $very_light_gray;
    box-shadow: $shadow;
    color: black;
    border: solid 2px $light_gray;
    margin: 2px auto 20px;
    display: flex;
    &_left {
      padding: 5px 10px;
      &_image {
        background-color: gainsboro;
        height: 150px;
        width: 150px;
        line-height: 150px;
        img {
          vertical-align: middle;
          max-height: 100%;
          max-width: 100%;
          border: solid 2px $light_gray;
        }
      }
    }
    &_right {
      width: 650px;
      padding: 5px 15px;
      letter-spacing: 0.06em;
      &_top {
        height: 45px;
        font-size: 1em;
        font-weight: bold;
        border-bottom: solid 1px $light_gray;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        &_right {
          font-size: 0.9em;
          padding-top: 2px;
        }
      }
      &_main{
        min-height: 82px;
        padding: 2px 0 15px;
      }
      &_first {
        height: 30px;
        line-height: 30px;
        display: flex;
        justify-content: space-between;
        &-name {
          font-size: 1.1em;
        }
        &-created {
          font-size: 0.9em;
        }
      }
      &_second {
        line-height: 26px;
        font-size: 0.9em;
        display: flex;
        justify-content: space-between;
      }
      &_third {
        line-height: 26px;
        font-size: 0.9em;
      }
      &_bottom {
        font-size: 0.9em;
        display: flex;
        justify-content: space-between;
        &-info {
          font-size: 0.9em;
          margin-right: 20px;
        }
      }
    }
  }
}