table {
  background-color: white;
  width: 100%;
  border: solid 2px $dark_gray;
  margin-top: 5px;
  tr {
    font-size: 0.9em;
    text-align: center;
    th {
      padding: 2px;
      width: 120px;
      text-align: center;
    }
    th, td {
      border: solid 1px $dark_gray;
    }
  }
}
.content_box {
  background-color: white;
  padding: 10px 20px;
  border: solid 1px $dark_gray;
  min-height: 50px;
  margin-bottom: 15px;    
}
.table_border {
  height: 30px;
  border-top: ridge 1px rgba(102, 83, 0, 0.5);
  margin: 30px 20px 0;
}
