.chat-container {
  background-color: $very_light_gray;
  max-width: 850px;
  margin: 0 auto 120px;
  padding: 50px 30px;
  border: solid 1px $dark_gray;
  box-shadow: $shadow;
  letter-spacing: 0.06em;
  &_info {
    font-size: 1.2em;
    text-align: center;
  }
  .chat {
    margin-bottom: 75px;
    display: flex;
    &_user {
      width: 90px;
    }
    &_body {
      max-width: 550px;
      padding-top: 5px;
      &_bubble {
        background-color: white;
        min-height: 50px;
        line-height: 1.5em;
        padding: 8px 20px;
        border-radius: 8px;
        border: solid 1px $light_gray;
        box-shadow: rgba(112, 74, 24, 0.7) 2px 1px 2px;
      &_img {
        width: 100%;
      }
      }
      &_bottom {
        font-size: 0.9em;
        padding: 5px 10px;
      }
    }
  }
  .my-chat {
    display: flex;
    flex-direction: row-reverse;
    .chat_user {
      .user_img {
        float: right;
      }
      &_name {
        float: right;
        padding-top: 4px;
      }
    }
    .chat_body {
      &_bubble {
        background-color: #fff8dc;
      }
      &_img {
        width: 100%;
      }
    }
  }
}
.chat-form {
  background-color: white;
  height: 65px;
  width: calc(100% - 300px);
  padding: 10px 0 10px 20px;
  letter-spacing: 0.06em;
  border: solid 2px $light_gray;
  display: flex;
  position: absolute;
  bottom: 0;
  right: 0;
  &_input {
    width: 80%;
    padding: 5px;
  }
  &_right {
    width: 20%;
    padding: 0 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
}