.group_info {
  margin: 0 auto;
  max-width: 80%;
  &_name {
    text-shadow: rgb(170, 168, 168) 1px 1px 1px;
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
  }
  .group_img {
    width: 100%;
    margin: 5px 0 20px;
    border: solid 2px $dark_gray;
    box-shadow: $shadow;
  }
  &_menu {
    background-color: silver;
    width: 120px;
    margin-top: 10px;
    padding: 5px 8px;
    border: solid 1px $light_gray;
    border-radius: 3px;
    display: flex;
    align-items: center;
    li {
      background-color: olivedrab;
      height: 24px;
      width: 24px;
      text-align: center;
      text-shadow: black 1px 1px;
      margin-right: 10px;
      border-radius: 3px;
      cursor: pointer;
      i {
        color: whitesmoke;
        line-height: 24px;
      }
    }
  }
}
