.category-tag {
  display: inline-block;
  background-color: whitesmoke;
  padding: 2px 9px;
  border-radius: 3px;
  font-size: 0.9em;
  margin-bottom: 5px;
}

#category-search-result {
  .category-tag {
    display: block;
    border-bottom: solid 1px $light_gray;
    max-width: 230px;
    margin: 5px ;
    padding: 2px 9px;
  }
  .category-tag:hover { 
    background-color: $light_gray;
    cursor: pointer;
  }
}