.actions_btn {
  background-color: cadetblue;
  box-shadow :rgb(179, 90, 26) 0 2px 2px;
  color: white;
  height: 30px;
  width: 150px;
  margin: 0 auto 30px;
  font-size: 18px;
  line-height: 30px;
  letter-spacing: 1px;
  border: none;
  border-radius: 3px;
  display: block;
  cursor: pointer;
}

.back_btn {
  background-color: darkolivegreen;
  color: white;
  padding: 2px 15px;
  border-radius: 3px;
  display: inline-block;
  margin-top: 20px;
}

.submit-btn {
  background-color: rgb(210, 105, 30);
  font-size: 0.8em;
  color: white;
  border-radius: 3px;
}

.img-btn {
  color: darkolivegreen;
  font-size: 30px;
  display: block;
}

.login-btn {
  font-size: 18px;
  margin: 0 auto;
  text-decoration: none;
  display: block;
  height: 30px;
  width: 150px;
  letter-spacing: 1px;
  background-color: chocolate;
  color: white;
  border: none;
  border-radius: 3px;
  line-height: 30px;
}

.app-btn {
  background-color: cadetblue;
  color: white;
  padding: 3px 7px;
  margin-right: 15px;
  border-radius: 3px;

}

.delete-btn {
  background-color: cadetblue;
  text-align: center;
}

.normal-btn {
  background-color: $chocolate;
  color: white;
  font-size: 0.9em;
  padding: 5px;
  border-radius: 3px;
}
