.header {
  background-color: goldenrod;
  box-shadow: $natural_shadow;
  border-bottom: solid 1px peru;
  height: 40px;
  width: 100%;
  position: fixed;
  display: flex;
  span.notice, span.alert {
    display: inline-block;
    padding: 1px 6px;
    margin: 12px 10px 6px;
    font-size: 0.8em;
    color: $very_light_gray;
    border-radius: 2px;
    position: absolute;
    left: 5px;
  }
  span.notice {
    background-color: forestgreen;
  }
  span.alert {
    background-color: crimson;
  }
  &_logo {
    margin: 0 auto;
    text-align: center;
    padding: 2px;
    .logo-img {
      height: 95%;
    }
  }
  &_mypage {
    height: 40px;
    align-items: center;
    display: flex;
    position: absolute;
    right: 5px;
    .login-link {
      display: inline-block;
      font-size: 0.8em;
      padding: 2px 5px;
      border-bottom: solid 2px $light_gray;
      margin-right: 5px;
    }
    .login-link:hover {
      border-bottom: ridge 3px tomato;
      color: orangered;
      text-shadow: rgba(0, 0, 0, 0.2)2px 2px 4px;
    }
    
  }
}