form.search {
  background-color: lightsteelblue;
  padding: 13px 30px 10px;
  width: 90%;
  margin: 0 auto;
  border: ridge 2px gray;
  .search_header {
    // display: inline-block;
    color: $dark_gray;
    font-weight: bold;
    margin-bottom: 13px;
  }
  .search-area {
    margin: 5px; 
    display: flex;
    margin-bottom: 15px;
    &_form {
      margin-right: 20px;
      &-label {
        font-size: 0.9em;
        display: block;
        align-items: center;
      }
    }
    input, select {
      height: 23px;
      max-width: 100%;
    }
    input {
      padding: 5px;
    }
  }
}