.user_img {
  width: 60px;
  border: solid 1px grey;
  height: 60px;
}
.side-bar {
  color: white;
  background-color: #222222;
  height: 100%;
  width: 300px;
  border-right: solid 1px $light_gray;
  box-shadow: $natural_shadow;
  a {
    color: white;
  }
}
.main-logo {
  height: 60px;
  margin: 0 auto;
  text-align: center;
  padding: 8px;
  border-bottom: ridge 2px tan;
  .logo-img {
    height: 100%;
  }
  .logo-img:hover {
    transition: all 0.5s;
    position: relative;
    top: -1px;
    box-shadow: rgba(204, 255, 0, 0.2) 1px 2px 2px;
    border-radius: 20px;
    height: 101%;
  }
}
.side-bar_main {
  height: calc(100% - 140px);
  width: 100%;
  font-size: 0.9em;
  letter-spacing: 0.06em;
  border-top: $cyan-border;
  position: relative;
  .action_links {
    padding: 15px;
    margin-bottom: 30px;
    li {
      padding: 2px 5px;
      margin-bottom: 5px;
    }
    a {
      padding-bottom: 2px;
      border-bottom: solid 1px $dark_gray;
    }
    a:hover {
      transition: all 0.1s;
      border-bottom: ridge 2px tomato;
      font-weight: bold;
      text-shadow: $white_shadow;
    }
  }
  .group_lists {
    padding:15px 5px;
    &_header {
      background-color: $dark_gray;
      font-size: 0.85em;
      border-bottom: ridge 2px slategray;
      padding: 4px 10px;
    }
    &_list {
      font-weight: bold;
      background-color: rgba(175, 175, 175, 0.1);
      padding: 0 15px;
      display: block;
      height: 40px;
      margin: 3px 0;
      border-bottom: solid 1px rgba(245, 245, 245, 0.4);
    }
    &_list:hover {
      transition: all 0.1s;
      background-color: $dark_gray;
      text-shadow: $white_shadow;
      box-shadow: $white_shadow;
      border-bottom: ridge 2px yellowgreen;
    }
  }
}
