.side-bar
  .side-bar_container
    .mypage-container
      .mypage-container_left
        = image_tag "picture/imgrc0068397747.jpg", width: "100%"
      .mypage-container_right
        .mypage-container_right_name
          コルレオーネ
        .mypage-container_right_btn

    .search-container
      .search-menu
      .search-btn
