@import "reset";
@import "config/*";
@import "modules/*";
@import "shared/*";
@import "users/*";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "posts/*";
@import "groups/*";
@import "group_members/*";

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  font-size: 0.9em;
  letter-spacing: 0.1em;
  // font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  font-size: 0.9em;
  letter-spacing: 0.1em;
  // font-style: italic;

}
::placeholder{ /* Others */
  font-size: 0.9em;
  letter-spacing: 0.1em;
  // font-style: italic;
}
