.session_container {
  color: white;
  margin: 20px auto;
  padding: 38px 50px;
  background-color: $translucent-black;
  width: 400px;
  // float: right;
  border: ridge 3px tan;
  .form-header {
    font-size: 30px;
    letter-spacing: 0.1em;
    text-align: center;
    font-weight: bold;
  }
  form {
    padding-top: 50px;
    .field {
      height: 70px;
    }
  }
}
.form-container {
  color: white;
  max-width: 700px;
  margin: 0 auto ;
  padding: 30px 50px;
  background-color: $translucent-black;
  .field {
    &_form {
      width: 300px;
    }
    .img-btn {
      margin: 0 auto;
      width: 30px;
    }
  }
}
.field {
  margin-bottom: 18px;
  text-align: center;
  .user_img_d {
    height: 90px;
    width: 90px;
    margin: 0 auto;
  }
  .rm-btn {
    width: 15px;
    display: block;
    margin: 0 auto;
    i {
      width: 15px;
      color: $red;
      font-size: 15px;
    }
  }
  &_label {
    margin-bottom: 3px;
    font-size: 0.9em;
  }
  &_form {
    height: 25px;
    padding: 0 5px;
  }
  &_profile {
    height: 60px;
  }
  div.field_with_errors {
    display: inline;
    padding: 0;
    input, textarea { background-color: $pink; }
  }
  .error-message {
    font-size: 0.8em;
    color: $red;
    margin-top: 2px;
  }
}
.actions {
  margin-top: 45px;
  text-align: center;
}
.test_login {
  margin-top: 50px;
  text-align: center;
}