
* {
  box-sizing: border-box;
}

.top-container_picture {
  margin: 0 auto;
  height: 450px;
  max-width: 780px;
  border-radius: 3px;
  background-image: image-url("picture/maldives-666122_1280.jpg");
  background-size: cover;
  background-position: center;
}

