
* {
  box-sizing: border-box;
}

.top-container_picture {
  margin: 0 auto;
  height: 450px;
  max-width: 600px;
  border-radius: 6px;
  // box-shadow: $shadow;
  background-image: url(picture/maldives-666122_1280.jpg);
  background-size: cover;
  background-position: center;
}
.post-list {
  margin: 0 auto;
  .post-card {
    margin: 0 auto;
    height: 230px;
    max-width: 850px;
    margin-bottom: 40px;
    background-color: white;
    box-shadow: $shadow;
    display: flex;
    &_left {
      padding: 5px 10px;
      &_image {
        height: 170px;
        width: 170px;
      }
    }
    &_right {
      background-color: lightgray;
      width: 650px;
      &_title {
        background-color: khaki;
        height: 50px;
        // text-align: center;
        font-size: 16px;
        overflow: hidden;
        padding: 0 20px;
      }
      &_info {
        
      }

    }
  }
}
