.hidden {
  display: none;
}

.post-board_title {
  font-size: 1.2em;
  line-height: 40px;
  margin: 20px 20px 30px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  // text-align: center;
}
.post-board {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  max-width: 700px;
  padding: 20px 30px;
  margin: 0 auto;

  &_left {
    padding-top: 15px;
    width: 350px;
    font-size: 0.9em;
    margin-right: 20px;
    &_data {
      height: 35px;
    }
  }

  &_right {
    margin-right: 20px;
    .post_image {
      height: 300px;
      max-width: 300px;
      // margin-left: 20px;
    }
  }
}

.post-board_border {
  height: 30px;
  margin: 30px 30px 0;
  border-top: ridge 1px rgba(102, 83, 0, 0.5);
}
.post-board_detail {
  font-size: 25px;
  padding: 0 20px;
  margin-bottom: 15px;
}


.comment-container {
  background-color: white;
  margin: 0 auto 50px;
  max-width: 850px;
  box-shadow: $shadow;
  &_alert {
    padding-top: 20px;
    text-align: center;
  }
  .comment-form {
    padding: 40px 60px;
    display: flex;
    border-bottom: solid 1px rgba(128, 128, 128, 0.3);
    &_left {
      width: 80%;
      padding: 8px;
      &_form {
        width: 100%;
      }
    }
    &_right {
      width: 20%;
      padding-left: 40px;
      .btn-mask {
        color: darkolivegreen;
        font-size: 30px;
        display: block;
        margin-bottom: 10px;
      }
      .submit-btn {
        border: none;
        background-color: goldenrod;
        height: 30px;
        font-size: 16px;
      }
    }
  }
  .comment-area {
    &_info {
      padding-left: 50px;
      height: 60px;
      line-height: 60px;
      font-size: 20px;
    }

    .comment-list {
      &_upper {
        background-color: $header-grey;
        height: 30px;
        line-height: 30px;
        padding-left: 30px;
        border-bottom: solid 1px $header-border;
        &_name {
          font-size: 20px;
          text-decoration: none;
        }
      }
      &_bottom {
        min-height: 90px;
        padding: 10px 30px;
        box-shadow: rgba(0, 0, 0, 0.3) 0 1px 1px;
        &_content {
          font-size: 25px;
        }
        .post_image {
          height: 300px;
          max-width: 450px;
          margin: 30px;
        }
        // &_image {
        //   height: 200px;
        //   width: 200px;

        // }
      }
    }
  }
}