.hidden {
  display: none;
}

.post_info {
  margin: 0 auto;
  width: 80%;
  &_title {
    font-size: 1.2em;
    line-height: 40px;
    margin: 20px 20px 30px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.8);
  }
  img {
    width: 100%;
    margin: 5px 0 20px;
    border: solid 2px $dark_gray;
    box-shadow: $shadow;
  }
  &_actions {
    li {
      list-style: none;
      margin: 10px;
    }
  }
  &_border {
    height: 30px;
    border-top: ridge 1px rgba(102, 83, 0, 0.5);
    margin: 30px 20px 0;
  }
  &_detail {
    background-color: white;
    padding: 10px 20px;
    border: solid 1px $dark_gray;
    min-height: 50px;
    margin-bottom: 15px;
  }
}  
